
body{
    font-family: 'Poppins', sans-serif;
}
li{
    text-decoration: none;
}
.navbar{
    background-color: black;
    color: white;
    display: flex;


}
#root{
    background-image: url("../../img/background.jpg");
    background-size: 100%;
    background-position: center center;
}
header{
    display: contents;
}
.navLinks{
    display: inline-flex;
    list-style: none;
    color: white;
    margin-left: 58%;
}
a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
.logo img{
    margin: 10px;
}
.container{
    color: white;
    padding: 10%;
}
.about{
    display: table-caption;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
}
.about img{
    border-radius: 50%;
}
.bioBtn{
    padding: 20px;
    border-radius: 10px;
    width: 100px;
    background-color: darkorchid;
    color: white;
    border: 0px;
    margin: 17% 50%;
}
.bio{
    display: None;
}